.input-wrapper input{
    width: 400px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.616);
}

.input-wrapper label{
    width: 400px;
    margin: 10px 0px;
    display: block;
}
.select-wrapper select{
    width: 400px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    display: block;
    border-radius: 2px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.616);
}

.select-wrapper label{
    width: 400px;
    margin: 10px 0px;
    display: block;
}
.error{
    font-weight: bold;
    margin:20px auto;
    text-align: center;
    color: rgb(162, 33, 33);
    font-size: 16px !important;
}
.success{
    font-weight: bold;
    margin:20px auto;
    text-align: center;
    color:rgb(5, 180, 5);
}
@media (max-width:575px){
    .input-wrapper input{
        width: 70vw;
        height: 40px;
      
    }
    .select-wrapper select{
        width: 70vw;
        height: 40px;
      
    }
    .select-wrapper label{
        width: 70vw;
    }
    
    .input-wrapper label{
        width: 70vw;
    }
}