.logo-heading-group i{
    display: block;
    line-height: 1em;
}

.logo-heading{
    font-size: 30px;
}

.logout-dropdown{
    margin-right: 50px;
    position: relative;
    z-index:1;
}

.logout-dropdown-btn{
    border: 3px solid #212f3f;
    background: #34495e;
    color: #abb4be;
    padding:10px 15px;
    border-radius:100%; 
}
.jusftify-self-flex-end{
    position: absolute !important;
    right: 0;
}
.jusftify-self-flex-start{
    position: absolute;
    left:0;
    display: flex;
    padding-left: 50px;
}
.drop-list{
    position: absolute;
    left: -20px;
    background: white;
    border: 1px solid #212f3f3d;
    border-radius:5px; 
    margin-top:3px;
}
.drop-list button{
    padding: 10px 20px;
}

@media (max-width:575px){
    .logout-dropdown{
        margin-right: 20px;
    }
    .jusftify-self-flex-start{
        padding-left: 10px;
    }   
}